<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <style type="text/css">

    #home, #article{ opacity: 0; }
    #title, #content{ margin-left: -210px;}
  </style>
</head>
<body ng-controller="AppCtrl">
  <ul class="menu">
    <li><a href="#/home">home</a></li>
    <li><a href="#/article">article</a></li>
  </ul>

  <div class="view" >
      <div app-view id="view"></div>
  </div>


  <div>Angular seed app: v<span app-version></span></div>
  <div>Angular seed app title (out of appViewDirective): <span translate>lang.FRENCH</span></div>

  <hr>

  <ul class="lang">
    <h5>Changer de langue : </h5>
    <li id="lang-1">
      <a href ng-click="changeLanguage('fr_FR')">Français (avec transition out sur page courante)</a>
    </li>
    <li id="lang-2">
      <a href ng-click="changeLanguage('en_EN')">Anglais (sans transition out sur page courante)</a>
    </li>
    <li id="lang-3">
      <a href ng-click="changeLanguage('de_DE')">Allemand</a>
    </li>
  </ul>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/gsap/TweenMax.min.js"></script>
  <script src="lib/angular/1.1.5/angular.js"></script>
  <script src="lib/angular/1.1.5/angular-translate.min.js"></script>
  <script src="js/transitions.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
